.navigationUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
}

.navigationUl a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
    position: relative;
    display: inline-block;
    /* Needed for underline effect */
    transition: transform 0.3s ease;
}

.navigationUl a:hover {
    transform: scale(1.1);
}

.navigationUl a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.navigationUl a:hover::after {
    width: 100%;
}

.navbar h2 {
    color: white;
    margin: 10px;
}

.navbar h2:hover {
    transform: scale(1.1);
}

.navbar h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.navbar h2:hover::after {
    width: 100%;
}

.image-navbar-wrapper {
    background-image: url('/assets/ParisBg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 95vh;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerText {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#bannerButton{
    padding: 10px;
    background-color: #f6f6f6;
}

#bannerButton:hover{
    transform: scale(1.1);
    background-color: #ddd;
    cursor: pointer;
}

#bannerButton a{
    text-decoration: none;
    color: hsla(187, 65%, 61%, 0.801);
}